@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Press+Start+2P&display=swap');
 .App {
     display: grid;
     place-items: center;
    color: white;
    font-family: 'Baloo Tammudu 2', cursive;
 }

 .App .heading {
     text-align: center;
 }

.App .heading h2 {
    font-family: 'Press Start 2P', cursive;
}

 .App form {
    height: 50px;
    display: flex;
    justify-content: center;
}

form input {
    height: 50px;
    border: none;
    padding: 0 20px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

form button {
    height: 100%;
    width: 50px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(241, 238, 234);
}

form button:hover {
    background-color: bisque;
}

form input:focus, form button:focus {
    outline: none;
}

.todos {
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.todos .pending__todos, .completed__todos {
    flex: 0.5;
}

.todos > div > h3 {
    text-align: center;
}

.todo {
    background-color: whitesmoke;
    color: black;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
}

.column__todo {
    flex-direction: column;
}

.todo .buttons {
    background-color: rgb(228, 228, 224);
    width: 100%;
    display: flex;
    height: 5vh;
}

.todo span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}

.todo .buttons button {
    border: none;
    border-right: 1px solid rgb(209, 202, 202);
    transition: transform 0.3s ease-in-out;
    font-size: 100%;
    opacity: 0.7;
    flex: 1;
    cursor: pointer;
}

.todo .buttons button:focus {
    outline: none;
}

.todo .buttons button:hover {
    background-color: rgb(208, 222, 243);
}

.todo .fa-pencil {
    color: rgb(18, 18, 233);
}

.todo .fa-trash {
    color: rgb(252, 4, 4);
}

.todo .fa-check {
    color: rgb(18, 204, 18);
}

.todo__details {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo__details pre {
    height: 100%;
    font-size: 10px;
    opacity: 0.7;
}

.empty__message {
    margin: 20px auto;
    width: 50%;
    height: 200px;
    background-color: rgb(105, 101, 101);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    opacity: 0.8;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.completed__todos .todo__details span {
    text-decoration: line-through;
}

.pending__todos .todo:hover {
    box-shadow: 0 1px 3px 1px rgb(126, 126, 238) inset;
    background-color: lightblue;
}

.completed__todos .todo:hover {
    background-color: lightgreen;
    box-shadow: 0 1px 3px 1px green inset;
}